/* @import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animations';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, rgb(135, 218, 213), rgb(248, 244, 245));
  height: 100vh;
}

.main-section {
  display: flex;

  .container2 {
    border-left: 2px solid black;;

    .card-drink {
      display: flex;
      justify-content: center;
      width: 20rem;
      height: 10rem;
      

      .img-drink {
        width: 10rem;
        height: 10rem;
      }
    }

    .fav-drink {
      border: 5px solid green;
      color:darkgreen;
    }

    /* #hidden {
        display: flex;
        justify-content: center;
        padding: 2rem 2rem 2rem 2rem;
        border: 3px solid green;
        visibility: hidden;
      } */
  }
}

.container1 {
  margin-right: 2rem;

  .card-drink {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 10rem;
    

    .img-drink {
      width: 10rem;
      height: 10rem;
    }
  }
}
